
#chat-log {
  height: 100%;
}
#chat {
  position: relative;
  bottom: 0;
}
form {
  padding: 10px 15px;
  font-size: 14px;
  cursor: move;
 }
.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #073B36;
  width: 60px;
  margin: 2px;
  line-height: 75px;
  font-size: 30px;
}
