<!DOCTYPE html>
<html lang="en">
 <head>
     {% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     {% endblock %}
 </head>
<body>
{% block body %}
{% block content %}
{% endblock %}
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="static/js/echo.js"></script>
{% endblock %}

</body>
</html>
