{% extends 'base.html' %}
{{ super() }}
<script type="text/javascript" src="staticjs/stuff.js"></script>
<script language="javascript" type="text/javascript">

  function browserDetect()
  {
    document.getElementById("browserType").innerHTML = BrowserDetect.browser + ' ' + BrowserDetect.version;
    document.getElementById("platform").innerHTML = BrowserDetect.OS;

    if (window.WebSocket)
    {
      document.getElementById("wsSupportImg").src = "img/check.png"
    }
    else
    {
      document.getElementById("wsSupportImg").src = "img/cross.png"
    }
  }

  // Handle difference for IE.

  if (window.addEventListener)
	{
  window.addEventListener("load", browserDetect, false);
	}
 else if (window.attachEvent)
	{
    window.attachEvent("onload", browserDetect)
	}
</script>

{% block content %}
<section id="after-intro" class="page-wrapper light-bg">
  <div class="container">
      {{ welcome_message }}, {{ username }}, {{ url }}
    <div class="row page-content article">
      <h2>Echo Test</h2>
  so <a href="http://blog.kaazing.com/2012/05/09/inspecting-websocket-traffic-with-chrome-developer-tools/">inspect WebSocket messages</a> using your browser.
      </p>
      <h3>Try it out!</h3>
      <div id="webSocketSupp">
          <div style="float: left;">
            <img src="img/check.png" width="36" height="36" align="absmiddle">
          </div>
          <div style="float: left; width: 600px; margin-left: 10px; position:relative; top: 8px;">
            This browser supports WebSocket.
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="top-compat-box" style="display:none;">
          <p>Does your browser<br>support WebSocket?</p>
          <div id="top-compat-info-box">
           <div id="top-compat-info">
             <span id="browserType"></span><br>
             <span id="platform"></span>
           </div>
           <div id="top-compat-image">
             <a href="echo.html"><img src="img/clear.png" id="wsSupportImg" alt="" width="25" height="25" border="0"></a>
           </div>
           <div class="clearfix"></div>
          </div>
          </div>

        <div id="noWebSocketSupp">
          <div style="float: left;">
            <img src="img/cross.png" width="36" height="36" align="absmiddle">
          </div>
          <div style="float: left; width: 600px; margin-left: 10px;">
            <p>Uh-oh, the browser you're using doesn't have native support for WebSocket. That means you can't run this demo.</p>
            <p>The following link lists the browsers that support WebSocket:</p>
            <p><a href="http://caniuse.com/#feat=websockets">http://caniuse.com/#feat=websockets</a></p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="echo">
          <div id="echo-config" style="float: left;">
            <strong>Location:</strong><br>
            <input class="draw-border" id="wsUri" size="35">
            <br>
            <!-- <input class="draw-border echo-checkbox" type="checkbox" id="secureCb" onClick="toggleTls();"><br>
            <span id="secureCbLabel" style="font-size: smaller; color: black;">Use secure WebSocket (TLS)</span><br> -->
            <button class="echo-button" id="connect">Connect</button>
            <button class="echo-button" id="disconnect">Disconnect</button>
            <br>
            <br>
            <strong>Message:</strong><br>
            <input class="draw-border" id="sendMessage" size="35" value="Rock it with HTML5 WebSocket">
            <br>
            <button class="echo-button" id="send" class="wsButton">Send</button>
          </div>
          <div id="echo-log" style="float: left; margin-left: 20px; padding-left: 20px; width: 350px; border-left: solid 1px #cccccc;"> <strong>Log:</strong>
            <div id="consoleLog"></div>
            <button class="echo-button" id="clearLogBut" style="position: relative; top: 3px;">Clear log</button>
          </div>
        </div>



    </div>
  </div>
</section>
{% endblock %}
<script src='static/js/echo.js'></script>
