{% extends 'base.html' %}
{{ super() }}
<script type="text/javascript" src="static/js/stuff.js"></script>
<script language="javascript" type="text/javascript">

  function browserDetect()
  {
    document.getElementById("browserType").innerHTML = BrowserDetect.browser + ' ' + BrowserDetect.version;
    document.getElementById("platform").innerHTML = BrowserDetect.OS;

    if (window.WebSocket)
    {
      document.getElementById("wsSupportImg").src = "img/check.png"
    }
    else
    {
      document.getElementById("wsSupportImg").src = "img/cross.png"
    }
  }

  // Handle difference for IE.

  if (window.addEventListener)
	{
  window.addEventListener("load", browserDetect, false);
	}
 else if (window.attachEvent)
	{
    window.attachEvent("onload", browserDetect)
	}
</script>

{% block content %}
<section id="after-intro" class="page-wrapper light-bg">
  <div class="container">
    <div class="row page-content article">

      <div id="webSocketSupp">
          <div class="clearfix"></div>
        </div>

        <div id="top-compat-box" style="display:none;">
          <div id="top-compat-info-box">
           <div id="top-compat-info">
             <span id="browserType"></span><br>
             <span id="platform"></span>
           </div>
           <div class="clearfix"></div>
          </div>
          </div>

        <div id="noWebSocketSupp">

          <div class="clearfix"></div>
        </div>

        <div id="echo">
          <div id="echo-config" style="float: left;">
            <strong>Location:</strong><br>
            <input class="draw-border" id="wsUri" size="35">
            <br>
            <!-- <input class="draw-border echo-checkbox" type="checkbox" id="secureCb" onClick="toggleTls();"><br>
            <span id="secureCbLabel" style="font-size: smaller; color: black;">Use secure WebSocket (TLS)</span><br> -->
            <button class="echo-button" id="connect">Connect</button>
            <button class="echo-button" id="disconnect">Disconnect</button>
            <br>
            <br>
            <strong>Message:</strong><br>
            <input class="draw-border" id="sendMessage" size="35" value="Rock it with HTML5 WebSocket">
            <br>
            <button class="echo-button" id="send" class="wsButton">Send</button>
          </div>
          <div id="echo-log" style="float: left; margin-left: 20px; padding-left: 20px; width: 350px; border-left: solid 1px #cccccc;"> <strong>Log:</strong>
            <div id="consoleLog"></div>
            <button class="echo-button" id="clearLogBut" style="position: relative; top: 3px;">Clear log</button>
          </div>
        </div>



    </div>
  </div>
</section>
{% endblock %}
<script src='static/js/echo.js'></script>
