<!DOCTYPE html>
<html>
  <head>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">

  </head>
<body>
<div id="chat-log">
<ul>

{{ welcome_message }}

</ul>
<br>
<br>
</div>
<form id="chat" class="form-inline" action="/">
    <input type="text" id="handle"><input type="text" id="chat-text"><button type="submit" id="send">Send</button>
</form>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.0.3.min.js') }}"></script>
<script>
    // Support TLS-specific URLs, when appropriate.
if (window.location.protocol == "https:") {
  var ws_scheme = "wss://";
};

if ("WebSocket in window") {
    const socket = new WebSocket(ws_scheme + location.host + "/");
socket.onmessage = function(message) {
  const message_data = JSON.parse(message.data);
  $("#chat-log").append("<div class='panel panel-default'><div class='panel-heading'>" +
      $('<span/>').text(message_data.handle).html() + "</div><div class='panel-body'>" +
      $('<span/>').text(message_data.text).html() + "</div></div>");
}}

$("#chat").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#handle")[0].value;
  var text   = $("#chat-text")[0].value;
  outbox.send(JSON.stringify({ handle: handle, text: text }));
  text[0].value = "";
});
</script>
</body>
</html>
