<!DOCTYPE html>
<html>
  <head>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous">

    </script>
    <script type="text/javascript" charset="utf-8">
      // Chat Engine
      message = $(document).ready(function(){
        $('form').submit(function(){
          client.send($('#data').val(),
          return false;
        });
      });

      // Connect to server and emit messages onclick
      if ("WebSocket" in window) {
        var client = new WebSocket('wss://' + document.domain + ':5000');
        client.onopen = function(evt) {
            $("#log").append("Welcome Home")
        };
        client.onmessage = function(msg) {
        $("#log").append.("<p>"+msg.data+"</p>")
        };
      }

      const chat = document.getElementById("chat"),
              btn= document.getElementById("send");

    </script>
  </head>
<body>
<div id="log">
<ul>
{% for d in data %}
  {{d |safe}}
  {% endfor %}
</ul>
<br>
<br>
</div>
<form method="POST" id="chat" action="/">
  <input type="text" id="data"><button type="submit" id="send" onclick="message">Send</button>
</form>
</body>
</html>
