<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
<body>


<div class="container-fluid welcome-message">
{{ welcome_message }}
</div>
<div class="container-fluid flex-container">
<div id="chat-log" class="row">
<div id="chat-message">

</div>
</div>
</div>

<div class="container-fluid" id="draggable">
<form id="chat" class="form-inline">
    <div class="row">
    <div class="col-sm-6">
        <input type="text" id="handle" class="text-input">
    </div>
    <div class="col-sm-6">
        <input type="text" id="chat-text" class="text-input" placeholder="Chat away...">
    </div>
  </div>
    <button type="submit" id="send">Send</button>
</form>
</div>

<script type="text/javascript">

$(function () {
  $('#draggable').draggable();
});

if ("WebSocket in window") {
    const client = new WebSocket('wss://cc-simple-chat.herokuapp.com:5000');
    client.onopen = function(){
    // Send a small message to the console once the connection is established */
    console.log('Connection open!');
};
    client.onclose = function(){
    console.log('Connection closed');
};
    client.onmessage = function(message) {
        const message_data = JSON.parse(message.data);
        $("#chat-log").slideUp(5000);
};

const handle = $("#handle")[0].value;
const text = $("#chat-text")[0].value;
const msg = (JSON.stringify({ handle: handle, text: text, type: message}));

$("button").click = function() {
    $('#chat-message').append('<div>'+msg.text+'</div>');
    $(".text-input")[0].value = "";
};}

$("form").submit = function() {
    client.send(msg);
}

</script>
</body>
</html>
