
#chat-log {
  height: 100%;
}
#chat {
  position: absolute;
  bottom: 0;
}
form {
  padding: 10px 15px;
  font-size: 24px;
  cursor: move;
 }
.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  width: 100%;
  margin: 2px;
  line-height: 75px;
  font-size: 30px;
}

.welcome-message {
  margin: 2px;
  line-height: 75px;
  font-size: 30px;
}

